body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.conteneur-logo{
    display: flex;
    border: 2px solid black;
    border-radius: 0px 0px 0px 30px;
    img{
        border-radius: 0px 0px 0px 30px;
    }
}
.name{
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: blue;
}